%{ for network_settings in private_networks_settings }
auto %{ if "cpx" == regex("[a-z]+",server_type) }enp${sum([7,index(private_networks_settings, network_settings)])}s0%{ else }ens1${index(private_networks_settings, network_settings)}%{ endif }
iface %{ if "cpx" == regex("[a-z]+",server_type) }enp${sum([7,index(private_networks_settings, network_settings)])}s0%{ else }ens1${index(private_networks_settings, network_settings)}%{ endif } inet dhcp
%{ if length(network_settings.nameservers.search) > 0 }    dns-search ${join(" ",network_settings.nameservers.search)}%{ endif ~}
%{ if length(network_settings.nameservers.addresses) > 0 }    dns-nameservers ${join(" ",network_settings.nameservers.addresses)}%{ endif ~}
%{ for gateway_ip, subnets in network_settings.routes ~}
%{ for subnet in subnets ~}
    post-up ip route add ${subnet} via ${gateway_ip} dev %{ if "cpx" == regex("[a-z]+",server_type) }enp${sum([7,index(private_networks_settings, network_settings)])}s0%{ else }ens1${index(private_networks_settings, network_settings)}%{ endif }
%{ endfor ~}
%{ endfor ~}
%{ endfor ~}