network:
  version: 2
  renderer: networkd
  ethernets:
%{ for network_settings in private_networks_settings ~}
%{ if "cpx" == regex("[a-z]+",server_type) }    enp${sum([7,index(private_networks_settings, network_settings)])}s0%{ else }    ens1${index(private_networks_settings, network_settings)}%{ endif }:
      dhcp4: true
%{ if length(network_settings.nameservers.addresses) > 0 || length(network_settings.nameservers.search) > 0  ~}
      nameservers:
%{ if length(network_settings.nameservers.addresses) > 0 }        addresses: [${join(", ",network_settings.nameservers.addresses)}]%{ endif }
%{ if length(network_settings.nameservers.search) > 0 }        search: [${join(", ",network_settings.nameservers.search)}]%{ endif }    
%{ endif ~}
%{ if length(network_settings.routes) > 0 ~}
      routes:
%{ for gateway_ip, subnets in network_settings.routes ~}
%{ for subnet in subnets ~}
        - to: ${ subnet }
          via: ${ gateway_ip }
          on-link: true
%{ endfor ~}
%{ endfor ~}
%{ endif ~}
%{ endfor ~}